.product-card {
  margin: 10px !important;
  height: 367px;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-to-cart-btn {
  width: 114px;
  height: 34px;
  margin-top: 12px;
  display: flex;
  border: none;
  align-items: center;
  background-color: white;
  justify-content: center;
}



.add-to-cart-btn:hover {
  background-color: #A67744;  
  color: white;
  border: 0 !important;
}
.contain {
  display: flex;
  justify-content: space-between;
  width: 251px;
}
.favorite {
  background-color: white;
  display: flex;
  width: 62px;
  height: 34px;
  border: none;
  margin-top: 12px;
  justify-content: center;
}
.product-info {
  padding: 10px 0;
  margin: 0;
}

.product-image img {
  /* height: 346px !important; */
  border-radius: 10px;
  width: 251px;
}
h3 {
  font-size: 14;
  font-weight: bold;
  margin-top: 28 px;
}

h2 {
  font-size: 12;
  margin-top: 6px;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 251px;
  background-color: white;
}
#parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
